.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;

    &__item{
        margin-left: 40px;
        width: 200px;
        height: 200px;
        border-radius: 25px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px #dadada;
        transition: box-shadow .5s ease;

        &:hover{
            box-shadow: 0px 4px 50px #dadada;
        }
    }

    &__title{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.15em;
    }

    &__image{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}