.popup {
  width: 540px;
  height: 232px;
  border-radius: 10px;
  transition: 1s;
  color: red;
  position: absolute;
  top: -200px;
  left: 0;
  background: #fff;
  z-index: 99;
}
.active {
  color: green;
  top: 100px;
}
.productItem {
  height: 132px;
  width: 100%;
}
.wrapImg {
  width: 200px;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productItem img {
  width: 98px;
  height: 122px;
}
.wrapText {

}