.card {
	display: flex;
	&__wrap {
		display: flex;
		width: 100%;
		background: linear-gradient(to right, white 55%, #f1f1f1 45%);
	}
	&__content {
		margin-top: 220px;
		flex: 1 auto;
		width: 60%;
	}
	&__info {
		margin-top: 220px;
		flex: auto 1;
		width: 45%;
	}
}
